.formulario-pesquisa-paises {
    margin-top: 3rem;
    margin-left: 10%;
    padding-left: 15px; }
.formulario-pesquisa-paises input {
    background-color: #b9b6d6;
    color: #FFF;
    padding: 5px;
    border-radius: 3px; }

.page-destinos li {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #9996C3;
    margin: 15px;
    padding: 15px;
    position: relative; }

.page-destinos a {
    position: absolute;
    top: 15px;
    padding: 5px;
    color: #FFF;
    background-color: #7976b0; }

.page-destinos img {
    width: 100%;
    height: 30vh; }

.page-destinos .row {
    margin: auto;
    padding: auto; }

.page-destinos .lista-destinos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 10%; }

.page-destinos .titulo-destino {
    font-weight: 600; }

.lista-destinos {
    margin-bottom: 4rem !important;
}
